/*My Code - Alibi*/

/* lora-500 - latin */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/lora-v17-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lora-v17-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lora-v17-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lora-v17-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lora-v17-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lora-v17-latin-500.svg#Lora') format('svg'); /* Legacy iOS */
  }
  /* lora-700 - latin */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lora-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lora-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lora-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lora-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lora-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lora-v17-latin-700.svg#Lora') format('svg'); /* Legacy iOS */
  }
  /* lora-500italic - latin */
  @font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/lora-v17-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lora-v17-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lora-v17-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lora-v17-latin-500italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lora-v17-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lora-v17-latin-500italic.svg#Lora') format('svg'); /* Legacy iOS */
  }

#body1{
    background-color: whitesmoke;
    font-family: 'Lora';
    font-size: 20px;
    font-style: normal;
    line-height: 1.5;
    font-weight: normal;
}

html{
    box-sizing:border-box;

}
*, *::before, *::after{
    box-sizing: inherit;
}

   /*-------------------------*/
   header {
    width: 100%;
    position: fixed;
    z-index: 99;
}
.navbar-brand {
    color: #fff !important;
    font-size: 35px;
    font-weight: bold;
}
nav .container {
    border-bottom: 1px solid rgba(107, 106, 106, 0.6);
    padding-bottom: 10px;
}
.shrink .container {
    border: none !important;
}
ul.navbar-nav li a.nav-link {
    color: #ffffff !important;
}
ul.navbar-nav li a.nav-link:hover{
 color: #6c757d !important;
}
ul.navbar-nav li.active a.nav-link {
    color: white !important;
    transition: all.3s;
}
.shrink{
 background:#fff !important;
 box-shadow: 1px 2px 4px 0px #00000075 !important;
}
.shrink .navbar-brand {
    color: #6c757d !important;
}
.shrink ul.navbar-nav li a.nav-link {
    color: #222222 !important;
}
.shrink ul.navbar-nav li a.nav-link:hover, .shrink ul.navbar-nav li.active a.nav-link  {
    color: white !important;
}

#search-box{
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    

}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:#ffc107;
    transition: width 0.2s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #ffc107;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    #centered{
        text-align: center;
    }

    #r-tours{
        background-color: lavender;
        border: 1px solid lavender;
        border-radius: 5px;
    }

    #image {
        margin-top:15px;
        margin-bottom:15px;
        width: 100%;
        height: auto;
        object-fit: cover;
    
    }

#map-city{
    font-size: 16px;
    margin-bottom: 15px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.copyright {
    background-color: #f0f0f0;
}

    .copyright p {
        margin: 15px 0px;
    }

footer {
    background-color: #222222;
    padding: 60px 0px;
}

    footer .menu li a {
        color: #b1aca1;
        padding: 10px;
        text-decoration: none;
    }

        footer .menu li a:hover {
            color: #7dabdb;
        }

.fa.fa-facebook,
.fa.fa-dropbox,
.fa.fa-flickr,
.fa.fa-github,
.fa.fa-linkedin,
.fa, fa-tumblr,
.fa.fa-google-plus,
.fa.fa-tumblr {
    color: #b1aca1;
    font-size: 20px;
    padding: 10px;
}

    .fa.fa-facebook:hover,
    .fa.fa-dropbox:hover,
    .fa.fa-flickr:hover,
    .fa.fa-github:hover,
    .fa.fa-linkedin:hover,
    .fa, fa-tumblr:hover,
    .fa.fa-google-plus:hover,
    .fa.fa-tumblr:hover {
        color: #6794c2;
    }

    a.btn {
        padding: 12px 30px;
        background: #2d94fc;
        color: #fff;
        border-radius: 25px;
        border: 1px solid transparent;
        margin-right: 20px;
        transition: all .4s;
        box-shadow: 1px 2px 4px 0px #00000075;
    }
    .btn-trans{ 
     background: transparent !important;
     color: #fff !important;
     border: 1px solid #fff !important;
    }
    .btn-color:hover {
        background: transparent !important;
        color: #fff;
        border: 1px solid #fff !important;
        transition: all .4s cubic-bezier(0.65, 0.05, 0.51, 0.67);
    }
    .btn-trans:hover{
     background: #2d94fc !important;
        color: #fff !important;
        transition: all .4s cubic-bezier(0.65, 0.05, 0.51, 0.67);
        border:1px solid transparent !important;
    }